# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of build tools
*.out
*.log

# Vendor directory (if not using Go modules)
vendor/

# Go build cache
/pkg/

# IDE/editor specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

.env
private.key
public.key